body{
    background: url(../img/land.jpg);
    background-size: cover;
    min-height: 100%;
    padding: 16px 16px 16px 16px;
    font-family: Montserrat, sans-serif;
    position: static;
}

nav {
    display: flex;
    gap: 16px;
}

nav button {
    margin-left: auto;
    border-radius: 50%;
}

.nav__item {
    color: #FFF;
    font-size: 30px;
    font-weight: 500;
    background: inherit;
    text-decoration: none;
    border: 1px solid transparent;
    cursor: pointer;
    padding: 0.75rem 1.25rem;
    transition: background 0.25s, color 0.25s;
}

.nav__item:hover {
    background: #5D26C1;
}


.links__title {
    margin-top: 30px;
    margin-bottom: 15px;
    color: #807272;
    font-size: 22px;
    font-weight: 500;
}

.social__links {
    display: flex;
    gap: 34px;
}

::-webkit-scrollbar {
    background: rgba(0, 0, 0, 0);
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgba(9, 47, 240, 0.53);
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: none;
}

::-webkit-scrollbar-track {
    background-color: #a08fbe;
}

::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
}

footer > h2 {
    font-size: 30px;
    font-family: Montserrat, sans-serif;
    color: white;
}

footer > thead {
    background-color: white;
}

.cards {
    margin: 30px 0 0 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.cards__item {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 20px;
}


.card {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #bfbfbf;
    margin-bottom: 20px;
    margin-left: 20px;
}

.card__image {
    height: 250px;
}

.card__image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: Montserrat, sans-serif;
    padding: 22px;
    flex-grow: 1;
    margin-right: 20px;
}

.card__title {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
}

.card__description {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    margin-bottom: 15px;
}

.card__button {
    border: none;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    margin-top: auto;
}

.card__button:hover{
    background: #5D26C1;
}

.cards__item .card{
    height: 100%;
}

@media screen and (max-width: 910px) {
    .cards {
        display: block;
    }

    .card {
        width: 400px;
    }

    .cards__item {
        justify-content: center;
    }
}

@media screen and (width <= 450px) {
    .cards {
        display: block;
    }

    .card {
        width: 300px;
    }

    .cards__item {
        justify-content: center;
    }
}



